.clients__section {
  @extend %section;
}

.clients__container {
  @extend %container;
}

.clients__main-title {
  @extend %section-title;
}

.clients__list {
  @extend %list;
}

.clients__item {
  @extend %item;

  margin-right: auto;
  margin-left: auto;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-clients {
  fill: $icon-socials-color;
}

.clients__rectanglee {
  @extend %flex-align;

  width: 172px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: $function-duration $function-timing;

  &:hover,
  &:focus {
    border-color: $accent-color;
    transition: $function-duration $function-timing;
  }
  &:hover .icon-clients,
  &:focus .icon-clients {
    border-color: $accent-color;
    fill: $accent-color;
    transition: $function-duration $function-timing;
  }
}
