%logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $secondary-text-color;
}

%container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

%link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;

  color: $secondary-text-color;
}

%item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%image {
  display: block;
}

%button {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
}

%visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

%section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $secondary-text-color;
}

%uptitle {
  margin-top: 0;

  font-size: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
}

%flex-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
