.page-footer {
  @extend %section;

  background: $footer-bg-color;
}

.footer__container {
  @extend %container;
  @extend %flex-align;
}

.footer__address {
  display: block;
  flex-direction: column;
  width: 231px;
}

.logo__secondary {
  @extend %logo;

  display: block;
  margin-bottom: 20px;

  color: $primary-white-color;
}

.address {
  display: block;
  justify-items: flex-start;
}

.address__location {
}

.address__item {
  @extend %item;
  @extend %link;
}
