.page-footer {
  @extend %section;

  background: $footer-bg-color;
}

.footer__container {
  @extend %container;
  @extend %flex-align;
}

.logo__secondary {
  @extend %logo;

  display: block;
  margin-bottom: 20px;

  color: $primary-white-color;
}

.footer__address {
  display: block;
  flex-direction: column;
  width: 231px;
}

.address {
  display: block;
  justify-items: flex-start;
}

.address__item {
  @extend %link;

  display: block;

  color: $footer-text-color;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__location {
  color: $primary-white-color;
}

.footer__socials {
  display: block;
  margin-left: 69px;
}

.footer__signup-title {
  @extend %uptitle;
  display: block;

  margin-bottom: 20px;
  color: $primary-white-color;
}

.footer__subscription {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer__email {
  vertical-align: middle;
  padding: 18px 12px;
  margin-right: 8px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.87;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: $footer-text-color;
  background-color: unset;
}

.icon-plane{
  margin-left: 10px;
}